.background-dashboard {
  background: url("pokemon-shiny-mega-charizard.png"), url("charizard-black-red.png");
  background-position: right top 280px, left top 280px;
  background-repeat: no-repeat, no-repeat;
  background-size: 27%, 22%;
}

#dashboard-flex-box {
    display: flex;
    width: 800px;
}
