//Title

h1 {
  padding: 30px 0 8px;
  position: relative;
}

h1::before {
  content: "";
  position: absolute;
  left: 7%;
  bottom: 16px;
  width: 150px;
  height: 14px;
  transform: skew(-12deg) translateX(-50%);
  background: rgba(238,111,87,0.5);
  z-index: -1;
}

#second-title {
  padding-left: 36px;
  padding-top: 5px;
  font-family: 'Press Start 2P', cursive;
}
#blue-yellow-color {
  color: #FFDF32;
  border-color: 2px;
  text-shadow: 2px 2px 2px #396bba, -2px -1px 2px #396bba;
  font-size: 40px;
}

// Typed.js
#banner-typed-text {
font-size: 35px;
text-shadow: 1px 1px 1px $pokewhite;
color: white;
}

// Navbar + footer take all screen
.content-wrapper {
  padding-top: 70px;
  min-height: calc(100vh - 90px - 130px);
}

.content-wrapper.home {
  padding-top: 0px;
  min-height: calc(100vh - 90px - 130px);
}

// text on banner
#text-2 {
  display: flex;
  width: 600px;
  text-align: left;
  font-size: 50px;
  padding-left: 42px;
}

// Simple form home page (address search bar)

.string {
  margin-top: 10px;
}

.ap-input {
  border-radius: 20px;
  height: 50px;
  background-color: transparent;
  justify-content: center;
  align-items: center;
  text-align: center;
}

#search_address::placeholder {
  color: $pokewhite;
  opacity: 0.6;
}
.ap-name {
  color: black;
}

.ap-input-icon svg {
    fill: #cfcfcf;
    position: absolute;
    top: 56%;
    right: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
}
