#validate-background {
  color: white;
  padding: 3px 10px;
  border-radius: 3px;
  background: #00b700;
}

#pending-background {
  color: white;
  padding: 3px 10px;
  border-radius: 3px;
  background: #FFDF32;
}
