// Style for the login page

#h2_login {
 font-size: 45px;
 margin-top: 50px;
 margin-bottom: 50px;
}

.btn_login {
  border: 2px solid black;
  border-radius: 5px;
  background-color: transparent;
  padding: 10px 60px;
  margin-top: 60px;
  margin-bottom: 100px;
  font-size: 20px;

  &:hover {
    background-color: darkblue;
    color: yellow;
  }
}
