.btn-ghost {
  color: #4A4A4A;
  border: 1px solid #4A4A4A;
  padding: 8px 24px;
  border-radius: 50px;
  font-weight: lighter;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
}

.btn-flat {
  color: #FFDF32;
  padding: 8px 24px;
  border-radius: 4px;
  background: #396BBA;
  transition: background 0.3s ease;
  font-weight: bolder;
  border-radius: 50px;
}

.btn-flat:hover {
  background: #FFDF32;
  color: #396BBA;
}

.btn-gradient {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  font-weight: bold;
  background: linear-gradient(#167FFB, #0F60C4);
  transition: background 0.3s ease;
  border: 1px solid #0F60C4;
}

.btn-gradient:hover {
  background: linear-gradient(#147EFF, #0F67DA);
  color: white;
}

.btn-green-accepted {
  text-decoration: none;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #07d511;
  transition: background 0.3s ease;
  opacity: 0.6;
}
.btn-green-accepted:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}

.btn-red-declined {
  text-decoration: none;
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #d50707;
  transition: background 0.3s ease;
  opacity: 0.6;
}
.btn-red-declined:hover {
  color: white;
  text-decoration: none;
  opacity: 1;
}
