.mapboxgl-popup {
  max-width: 200px;

}

.mapboxgl-popup-content {
  text-align: left;
  font-family: 'Open Sans', sans-serif;
  h2 {
    text-align: center;
  }
  p {
    margin-bottom: 0.2rem;
  }
}

#map {
  height: 100vh;
  position: sticky;
  top: 0;
}
