.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

#navbarSupportedContent {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
  padding-left: 50px;
}

.navbar-lewagon .navbar-brand img {
  width: 200px;
}

.dropdown {
  cursor: pointer;
}

.nav-item-center {
  display: flex;
  text-decoration: none;
  list-style: none;
  font-size: 20px;

  a:hover {
    color: orange;
  }
}

.navbar-nav p {
  padding-top: 8px;
  margin-bottom: 0px;
  padding-right: 5px;
}

.nav-item-center a { color: inherit; }
