/* width */
::-webkit-scrollbar {
  width: 15px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #FFE031;
  border-radius: 10px;
  border: 2px solid #396BBA;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f0cd03;
}
